@import 'shared/var';
@import 'shared/normalize';
@import 'shared/typography';

.flex-content {
    display: flex;
    flex-wrap: wrap;
    min-width: 350px;
    margin: 0 -2rem 0 0;
}

.flex-section {
    flex: 1;
    margin: 0 2rem 2rem 0;
}

.flex-heading {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 0 0 2rem 0;

    h2 { margin: 0 1rem 0 0; }
    small { 
        font-style: italic; 
        font-size: 1rem;
        font-weight: 100;
    }
}

.flex-centered {
    justify-content: center;
}

.form-line {
    margin-bottom: 0.75rem;
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 100px 1fr;

    label { text-align: right; }
    input, select { margin-left: 0.75rem; padding: 5px; color: $text-color; }
}

.button { 
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    border: none; 
    background: $secondary-color;
    cursor: pointer;

    &:hover {
        color: black;
        background: $primary-color;
    }
}

.button.small {
    font-size: 0.75rem;
    padding: 5px;
}
    
.button.green{
    background: $color-green;
    &:hover {
        color: black;
        background: $primary-color;
    }
}

.button.red {
    background: $color-red;
    &:hover {
        color: black;
        background: $primary-color;
    }
}

.button.gray {
    background: $footer-backcolor;
    &:hover {
        color: black;
        background: $primary-color;
    }
}

.button.disabled {
    background: gray;
    color: $text-color-faded;
    &:hover {
        color: gray;
        background: $text-color-faded;
    }
}

.file-button { text-align: center; }
.file-button > input[type="file"] {
    display: none;
}

.big-kpi {
    font-weight: bold;
    font-size: 2rem;
    display: block;
}

.kpi-description {
    font-style: italic;
    font-weight: 100;
    white-space: nowrap;
}