**/.pio
**/.vscode/.browse.c_cpp.db*
**/.vscode/c_cpp_properties.json
**/.vscode/launch.json
**/.vscode/ipch
**/build/**
.DS_Store
node_modules
/dist
*.bin
**/bin/**
**/obj/**
**/.vs/**

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

TODO.md