---
BasedOnStyle: Microsoft
ColumnLimit: 140
AccessModifierOffset: '-4'
NamespaceIndentation: All
FixNamespaceComments: 'false'
IncludeBlocks: Regroup
PointerAlignment: Left
TabWidth: '4'
AllowShortIfStatementsOnASingleLine: Always
...
