.flex-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.flex-section {
    flex: 1;
    min-width: 250px;
}

.flex-centered {
    justify-content: center;
}

.flex-heading {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin: 0 0 2rem 0;

    h2 { margin: 0 1rem 0 0; }
    small { 
        font-style: italic; 
        font-size: 1rem;
        font-weight: 100;
    }
}

.form-line {
    margin-bottom: 0.75rem;
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: auto 1fr;
    gap: 10px;

    label { text-align: right; margin-right: 0.75rem; }
    input, select { padding: 5px; color: $text-color; }

    .left-col {
        grid-area: "left";
    }

    .right-col {
        grid-area: "right";
    }
}