$background-color: #f7f7f7;
$text-color: #313131;
$text-color-faded: #5e5e5e;
$text-color-red: #ff4a4a;
$text-color-blue: #4c5fff;
$border-color: rgba(0, 0, 0, 0.1);
$primary-color: #F58026;
$secondary-color: #0075c4;
$footer-color: #e6e6e6;
$footer-backcolor: #434a54;
$box-shadow-bottom: 0 0px 4px rgba(0,0,0,0.1);
$box-shadow-outset: 1px 1px 8px rgba(0,0,0,0.1);